<nav>
  <li>
    <ul>
      <a routerLink="/home">Home</a>
    </ul>
    <ul>
      <a routerLink="/service">service</a>
    </ul>
    <ul>
      <a routerLink="/about">about</a>
    </ul>
    <ul>
      <a routerLink="/board">board</a>
    </ul>
    <ul>
      <a routerLink="/myboard">myboard</a>
    </ul>
    <ul>
      <a routerLink="/timer">localvariable</a>
    </ul>
    <ul>
      <a routerLink="/timer2">viewchild</a>
    </ul>
    <ul>
      <a routerLink="/mission">service(observable)</a>
    </ul>
  </li>
</nav>